@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string firstRole = null;
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);
        firstRole = roles.FirstOrDefault();
    }
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Leave Management System</title>
    <link rel="shortcut icon" type="image/png" href="~/images/logos/leave.png" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagementSystem.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" >
        <!-- Sidebar Start -->
        <aside class="left-sidebar pt-5">
            <!-- Sidebar scroll-->
            <div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <div class=" brand-logo d-flex align-items-center justify-content-between">
                        <a href="./index.html" class="text-nowrap logo-img">
                            <img src="~/images/logos/project-plan.png" width="180" alt="" />
                        </a>
                        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                            <i class="ti ti-x fs-8"></i>
                        </div>
                    </div>
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <iconify-icon class="fs-6" icon="material-symbols:home-rounded"></iconify-icon>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg justify-content-between"
                               asp-area="" asp-controller="Home" asp-action="Privacy" aria-expanded="false">
                                <div class="d-flex align-items-center gap-6">
                                    <iconify-icon class="fs-6" icon="solar:paperclip-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Privacy</span>
                                </div>
                            </a>
                        </li>
                        @if (User.IsInRole(@Roles.Administrator))
                        {
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">Management</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg justify-content-between" asp-area="" asp-controller="LeaveTypes" asp-action="Index" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-6">
                                        <iconify-icon class="fs-6" icon="fluent-mdl2:leave"></iconify-icon>
                                        <span class="hide-menu">Leave Types</span>
                                    </div>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg justify-content-between" asp-area="" asp-controller="Periods" asp-action="Index" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-6">
                                        <iconify-icon class="fs-6" icon="mingcute:time-line"></iconify-icon>
                                        <span class="hide-menu">Periods</span>
                                    </div>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg justify-content-between" asp-area="" asp-controller="LeaveAllocation" asp-action="Index" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-6">
                                        <iconify-icon class="fs-6" icon="streamline-ultimate:human-resources-search-employees-bold"></iconify-icon>
                                        <span class="hide-menu">View Employees</span>
                                    </div>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg justify-content-between" asp-area="" asp-controller="LeaveRequests" asp-action="ListRequests" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-6">
                                        <iconify-icon class="fs-6" icon="wpf:ask-question"></iconify-icon>
                                        <span class="hide-menu">Manage Requests</span>
                                    </div>
                                </a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg justify-content-between" asp-area="" asp-controller="LeaveAllocation" asp-action="Details" aria-expanded="false">
                                    <div class="d-flex align-items-center gap-6">
                                        <iconify-icon class="fs-6" icon="mdi:give-way"></iconify-icon>
                                        <span class="hide-menu">View Allocations</span>
                                    </div>
                                </a>
                            </li>
                        }
                        <li>
                            <span class="sidebar-divider lg"></span>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">Auth</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
                                    <iconify-icon icon="solar:login-3-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Login</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Register" aria-expanded="false">
                                    <iconify-icon icon="solar:user-plus-rounded-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Register</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">

            <div class="body-wrapper-inner">
                <div class="container-fluid" style="padding-top:10px">
                    <!--  Header Start -->
                    <header class="app-header">
                        <nav class="navbar navbar-expand-lg navbar-light sticky-position">
                            <ul class="navbar-nav">
                                <li class="nav-item d-block d-xl-none">
                                    <a class="nav-link sidebartoggler " id="headerCollapse" href="javascript:void(0)">
                                        <i class="ti ti-menu-2"></i>
                                    </a>
                                </li>
                                <li class="nav-item ms-5">
                                    <h1>Leave Management System </h1>
                                </li>
                            </ul>
                            @if (SignInManager.IsSignedIn(User))
                            {
                            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <div class= "user-profile me-sm-3 me-2">
                                           <img src="~/images/profile/user6.svg" alt="" width="35" height="35" class="rounded-circle">
                                        </div>
                                        <div class="d-none d-sm-block">
                                            <h6 class="fs-4 mb-1 profile-name">Hello @User.Identity?.Name!</h6>
                                            @if (!string.IsNullOrEmpty(firstRole))
                                            {
                                                <p class="fs-3 lh-base mb-0 profile-subtext">@firstRole</p>
                                            }
                                        </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                            <div class="message-body">
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="d-flex align-items-center gap-2 dropdown-item">
                                                    <i class="ti ti-mail fs-6"></i>
                                                    <p class="mb-0 fs-3">My Account</p>
                                                </a>
                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-routr.e-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            }
                        </nav>
                    </header>
                    <!--  Header End -->
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/lib/simplebar/dist/simplebar.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>